
img {
    max-width: 100%;
    border-style: none;
}
.container, html {
    background-color: rgb(43, 10, 62);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.logo{
    padding-top: 2em;
    width: 12em;
    background-color: rgb(43, 10, 62);
}

.TopContainer {
        background-color: rgb(43, 10, 62);
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-evenly;
}

.MainContainer {
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(234, 236, 238);
    background-color: rgb(43, 10, 62);
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    font-size: xx-large;
}

.TraditionalorDigital{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

.HeadText{
    padding-top: 2em;
    font-size: 45;
    color: rgb(234, 236, 238);
}
h1{
    font-size: 8em;
    background-color: rgb(234, 236, 238);
    color: rgb(43, 10, 62);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: auto;
}
a{
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(234, 236, 238);

    text-decoration: none;

} 

.direct_img_container:hover {
  opacity: 50%;
}

a:hover {
    color: yellow;
    text-decoration: underline;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

/* Place CSS styles here */





body {
  color: rgb(234, 236, 238);
  background-color: rgb(43, 10, 62);
  font-family: 'Playfair Display SC', serif;
  font-size: 16px;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2.441rem;
  color: yellow;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

/* media query for phones */
@media (max-width: 480px) {
  body {
    background-color: teal;
  }
}

/* media query for desktop */
@media (min-width: 768px) {
  body {
    background-color: rgb(43, 10, 62);
  }
}

label {
  color: rgb(234, 236, 238);
}

p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  text-transform: uppercase;
}

input,
textarea {
  border: 1px solid #c4c3c3;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
  width: 100%;
}

label {
  margin-bottom: 8px;
  display: inline-block;
}

form {
  /* max-width: 500px; */
  display: block;
  /* width: 80%; */
  margin-left: auto;
  margin-right: auto;
}

.active {
  background-color: #00c200;
}

ul {
  text-align: center;
}

img {
 width: 100%;
 height: auto;
}

p {
  color: white;
}

.direct_img_container{
    width: 100%;
    height: auto;

}

nav a,
.my-button {
  display: inline-flex;
  padding: 16px;
  border: 1px solid #ffa500;
  color: yellow;
  margin-top: 4px;
  margin-bottom: 4px;
  text-decoration: none;
  transition: all .25s ease;
  width: auto;
}

nav a:hover,
.my-button:hover {
  color: white;
  background-color: #ffc0cb;
}

.my-secondary-button {
  background-color: #00c200;
  color: #000;
}

.my-secondary-button:hover {
  color: #00c200;
  background-color: #000;
}

.Digital_Top_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background-color: rgb(43, 10, 62);
}

@media (max-width: 480px) {
  .Digital_Top_header {
    flex-direction: column;
    gap: 10px;
  }
}

.Digital_Top_logo {
  max-width: 90px;
}

@media (max-width: 480px) {
  .img_grid_main {
    padding-left: 20px;
    padding-right: 20px;
  }
}


.Digital_Top_hero h1  {
  color: white;
  text-shadow: 1px 1px 2px #000;
}

/* Add some padding and a grey background color to containers */
.Digital_Top_container {
  padding: 20px;
}

.Digital_Top_label-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Style the input elements and the submit button */
.Digital_Top_form input[type=text], 
.Digital_Top_form input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
.Digital_Top_form input[type=checkbox] {
  margin-top: 16px;
  width: auto;
}

.Digital_Top_feature-content-wrapper {
  background-color: lightskyblue;
}

.Digital_Top_feature-content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.Digital_Top_feature-content p {
  color: #000;
}

.Digital_Top_feature-items {
  display: flex;
  justify-content: center;
  gap: 18px;
}



.General_Container_body p {
  color: rgb(234, 236, 238);
}

.General_Container_body ul {
  text-align: left;
}

.General_Container_featured_item_image_wrapper {
  width: 50%;
}

@media (max-width: 480px) {
  .General_Container_featured_item_image_wrapper {
    width: 100%
  }
}


.General_Container_featured_item_content {
  width: 50%;
}

@media (max-width: 480px) {
  .General_Container_featured_item_content {
    width: 100%
  }
}

.General_Container_featured_item {
  max-width: 1000px;
 
    padding: .5em;  
    display: flex;
    align-items: center;
    gap: 30px;
}

@media (max-width: 480px) {
    .General_Container_featured_item {
    flex-direction: column;
    gap: 10px;
  }
}

.General_Container_featured_item_quantity_wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}

.Home_img_grid_container:hover{
    opacity: 50%;
}

.Home_img_grid_container{
    width:100%
}

.img_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}

@media (max-width: 480px) {
  .img_grid_container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
.video_grid_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}

@media (max-width: 600px) {
  .video_grid_container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.small_port_flex_container {
  display: flex;
  gap: 20px;
  width: 100%;
}

@media (max-width: 480px) {
  .small_port_flex_container {
    flex-direction: column;
    gap: 10px;
  }
}

.aqua-turtle-column-container {
  column-count: 3;
  column-gap: 10px;
}

@media (max-width: 480px) {
  .aqua-turtle-column-container {
   column-count: 1;
   column-gap: 0;
  }
}

.General_Container_default_title {
  
  background: 
    linear-gradient(
      rgba(93, 111, 29, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    /* bottom, image */
    url(../img/Selfportrait_01\ copy.jpg);
  
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 1px #000;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.active h1, 
.active h2, 
.active h3, 
.active h4, 
.active h5, 
.active h6 {
  text-shadow: 2px 2px 2px #00c200;
  text-decoration: underline;
} 

.active .img_grid_main h1, 
.active .img_grid_main h2, 
.active .img_grid_main h3, 
.active .img_grid_main h4, 
.active .img_grid_main h5, 
.active .img_grid_main h6 {
  text-shadow: 2px 2px 2px #00c200;
  text-decoration: underline;
} 


/* w3school slideshow section */
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



